#GWQContainer {
	background-color: #9C0;
}
#flashSharedObjectProxyContainer {
	margin:0 auto;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	width: 960px;
	height: 0px;
}
#flashSharedObjectProxyContent {
	width: 960px;
	height: 0px;
}
#trackingBannerContainer {
	margin:0 auto;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	width: 960px;
	height: 0px;
}
#flashTrackingBannerContent {
	display: none;
	position:relative;
	width: 960px;	
}
/*
     FILE ARCHIVED ON 18:14:37 Aug 09, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:06:34 Apr 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.536
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.056
  cdx.remote: 0.056
  esindex: 0.008
  LoadShardBlock: 42.202 (3)
  PetaboxLoader3.datanode: 78.136 (5)
  load_resource: 457.318 (2)
  PetaboxLoader3.resolve: 396.554 (2)
*/