body {background-color: #9C3; url("../images/background.gif");}
td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000;}
.homesmall {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #360;}
.greensmall {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #360;}
.blacksmall {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000;}
.blacksmallbold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000; font-weight: bold;}
.blackmedium {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000;}
.blacklargebold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: bold;}
.whitemediumbold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFF; font-weight: bold;}
.textentry {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000;}
.large {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px;}
.whitehugebold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #fff; font-weight: bold;}