


/* ****************************************************************************************************************************************
/* RESET
/* ----------------------------------------- */

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
.kidSurvey *,
.kidSurvey html,
.kidSurvey body,
.kidSurvey div,
.kidSurvey dl,
.kidSurvey dt,
.kidSurvey dd,
.kidSurvey ul,
.kidSurvey ol,
.kidSurvey li,
.kidSurvey h1,
.kidSurvey h2,
.kidSurvey h3,
.kidSurvey h4,
.kidSurvey h5,
.kidSurvey h6,
.kidSurvey pre,
.kidSurvey form,
.kidSurvey label,
.kidSurvey fieldset,
.kidSurvey input,
.kidSurvey p,
.kidSurvey blockquote,
.kidSurvey th,
.kidSurvey td {
	margin:0;
	padding:0
}
.kidSurvey table {
	border-collapse:collapse;
	border-spacing:0
}
.kidSurvey fieldset,
.kidSurvey img {
	border:0
}
.kidSurvey address,
.kidSurvey caption,
.kidSurvey cite,
.kidSurvey code,
.kidSurvey dfn,
.kidSurvey em,
.kidSurvey strong,
.kidSurvey th,
.kidSurvey var {
	font-style:normal;
	font-weight:normal
}
.kidSurvey ol,
.kidSurvey ul,
.kidSurvey li {
	list-style:none
}
.kidSurvey caption,
.kidSurvey th {
	text-align:left
}
.kidSurvey h1,
.kidSurvey h2,
.kidSurvey h3,
.kidSurvey h4,
.kidSurvey h5,
.kidSurvey h6 {
	font-size:100%;
	font-weight:normal
}
.kidSurvey q:before,
.kidSurvey q:after {
	content:''
}
.kidSurvey a img {
	border:none
} /* Gets rid of IE's blue borders */



/* ****************************************************************************************************************************************
/* CLEARFIX
/* ----------------------------------------- */

/* http://www.positioniseverything.net/easyclearing.html */

.c:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.c {display: inline-block;}
/* Hides from IE-mac \*/
.c {display: block;}
* html .c {height: 1%;}
/* end hide from IE-mac */



/* **************************************************************************************************************************************** */
/* KID SURVEY MODAL
/* ----------------------------------------- */

body {
	background: black;
	/*padding: 70px;*/
}
#staticAudioLaunchers {
	padding: 15px;
	background: #cb8591;
	margin-bottom: 70px;
	display: none;
}
		#staticAudioLaunchers li {
			cursor: pointer;
			padding: 5px;
			margin-bottom: 10px;
			background: #9d616c;
			width: 200px;
			color: #f9e5e9;
			border: 1px solid #532029;
		}
				#staticAudioLaunchers li:hover {
					color: white;
					text-decoration: underline;
				}


.kidSurvey {
	font: normal 12px/1.2 arial, sans-serif;
	overflow: hidden;
	width: 410px;
	height: 255px;
	border: 10px solid white;
	background: gray;
	position: relative;
}

		.kidSurvey-panels {
			width: 100%; /* implicitly 410 */
			height: 100%; /* implicitly 255 */
			background: maroon;
			overflow: hidden;
			position: absolute;
			top: 0;
			z-index: 1;
		}

				.kidSurvey-loading {
					position: absolute;
					background: #9bca00;
					text-align: center;
					color: white;
					width: 100%;
					height: 100%;
					z-index: 8;
					cursor: default;
				}
						.kidSurvey-loading img {
							position: absolute;
							left: 197px;
							top: 119px;
						}
	
				.kidSurvey-panel {
					position: absolute;
					width: 100%;
					height: 100%;
					background: #9bca00;
					outline: 11px solid white;
				}
				.kidSurvey .closeBtn {
					position: absolute;
					display: block;
					width: 34px;
					height: 37px;
					background: url(i/close_button.png) no-repeat;
					overflow: hidden;
					left: 370px;
					top: 2px;
					text-indent: -9999px;
					cursor: pointer;
					z-index: 7; /* top-most *//* except for the loading screen */
				}
						.kidSurvey .closeBtn:hover {
							background-position: -34px 0;
						}

				.panel-info {
					z-index: 6;
					top: -370px;
					background: #47c3ea;
					color: white;
				}
				.panel-intro {
					z-index: 4;
				}
				.panel-age {
					z-index: 3;
				}
				.panel-thanks {
					z-index: 2;
				}
				.whatIsThis {
					font-size: 12px;
					z-index: 5;
					display: block;
					position: absolute;
					left: 5px;
					top: 237px;
					color: white;
				}
						.whatIsThis strong {
							text-transform: uppercase;
						}
						.whatIsThis span {
							text-decoration: underline;
							cursor: pointer;
						}


p.ruff-prologue {
	font-size: 14px;
	font-style: italic;
	width: 360px;
	height: 159px;
	position: absolute;
	top: 9px;
	left: 11px;
	text-indent: -9999px;
	background: url(i/survey_sites.png) no-repeat; /* just 8-bit */
	overflow: hidden;
/*	outline: 1px dotted green; */
}
.kidSurvey-panel h2 {
	background: url(i/survey_titles.png) no-repeat; /* just 8-bit */
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	width: 118px; /* handy default */
	height: 19px; /* handy default */
	top: 0;
	left: 0;
}
		.panel-intro h2 {
			top: 183px;
			left: 37px;
		}
		.panel-age h2 {
			top: 30px;
			left: 97px;
			background-position: 0 -29px;
			width: 222px;
		}
		.panel-age h2.other {
			background-position: 0 -62px;
			width: 53px;
			height: 13px;
			top: 9px; /* relative to "Other Age" box */
			left: 0; /* relative to "Other Age" box */
		}
		.panel-thanks h2 {
			top: 65px;
			left: 78px;
			background-position: -16px -89px;
			width: 258px;
			height: 46px;
		}



.panel-info .prose {
	margin: 39px 25px 0px;
}
		.panel-info .prose p {
			font-size: 13px;
			line-height: 1.28;
		}
		.panel-info .prose h3 {
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 2px;
		}


.kidSurvey-panel ul {
	position: absolute;
}
		.kidSurvey-panel li {
			display: inline;
		}
				.kidSurvey-panel li strong {
					text-indent: -9999px;
					overflow: hidden;
					display: block;
					float: left;
					width: 42px;
					height: 80px;
					margin-right: 8px;
					cursor: pointer;
					background: url(i/survey_buttons.png) no-repeat; /* just 8-bit */
				}

						/* ...........................................*/
						/* SPECIFIC PANEL: Intro */

						.panel-intro ul {
							top: 165px;
							left: 166px;
						}
								.panel-intro li strong {
									width: 100px;
									height: 50px;
									background-position: -614px 0;
								}
										.panel-intro li.surveyGender-boy strong:hover		{ background-position: -614px -50px; }
										.panel-intro li.surveyGender-boy strong:active		{ background-position: -614px -100px; }
										.panel-intro li.surveyGender-girl strong			{ background-position: -714px 0; }
										.panel-intro li.surveyGender-girl strong:hover		{ background-position: -714px -50px; }
										.panel-intro li.surveyGender-girl strong:active		{ background-position: -714px -100px; }



						/* ...........................................*/
						/* SPECIFIC PANEL: Age */

						.panel-age ul {
							top: 60px;
							left: 36px;
						}
								.panel-age li strong {
								}
										.panel-age li.surveyAge-3 strong					{ background-position: 0 0; }
										.panel-age li.surveyAge-3 strong:hover				{ background-position: 0 -80px; }
										.panel-age li.surveyAge-3 strong:active				{ background-position: 0 -160px; }
										.panel-age li.surveyAge-4 strong					{ background-position: -42px 0; }
										.panel-age li.surveyAge-4 strong:hover				{ background-position: -42px -80px; }
										.panel-age li.surveyAge-4 strong:active				{ background-position: -42px -160px; }
										.panel-age li.surveyAge-5 strong					{ background-position: -84px 0; }
										.panel-age li.surveyAge-5 strong:hover				{ background-position: -84px -80px; }
										.panel-age li.surveyAge-5 strong:active				{ background-position: -84px -160px; }
										.panel-age li.surveyAge-6 strong					{ background-position: -126px 0; }
										.panel-age li.surveyAge-6 strong:hover				{ background-position: -126px -80px; }
										.panel-age li.surveyAge-6 strong:active				{ background-position: -126px -160px; }
										.panel-age li.surveyAge-7 strong					{ background-position: -168px 0; }
										.panel-age li.surveyAge-7 strong:hover				{ background-position: -168px -80px; }
										.panel-age li.surveyAge-7 strong:active				{ background-position: -168px -160px; }
										.panel-age li.surveyAge-8 strong					{ background-position: -210px 0; }
										.panel-age li.surveyAge-8 strong:hover				{ background-position: -210px -80px; }
										.panel-age li.surveyAge-8 strong:active				{ background-position: -210px -160px; }
										.panel-age li.surveyAge-9 strong					{ background-position: -252px 0; }
										.panel-age li.surveyAge-9 strong:hover				{ background-position: -252px -80px; }
										.panel-age li.surveyAge-9 strong:active				{ background-position: -252px -160px; }
										.panel-age li.surveyAge-10 strong:active			{ background-position: -294px -160px; }
										.panel-age li.surveyAge-11 strong:active			{ background-position: -336px -160px; }
										.panel-age li.surveyAge-12 strong:active			{ background-position: -378px -160px; }
										.panel-age li.surveyAge-10 strong:hover				{ background-position: -420px -160px; }
										.panel-age li.surveyAge-11 strong:hover				{ background-position: -462px -160px; }
										.panel-age li.surveyAge-12 strong:hover				{ background-position: -504px -160px; }
										.panel-age li.surveyAge-10 strong					{ background-position: -546px -160px; }
										.panel-age li.surveyAge-11 strong					{ background-position: -588px -160px; }
										.panel-age li.surveyAge-12 strong					{ background-position: -630px -160px; }

						.surveyAge-custom {
							position: absolute;
							width: 157px;
							height: 30px;
							top: 174px;
							left: 222px; /* eventual position, after the javascript slide */
							left: 269px;
							overflow: hidden;
						}
								.surveyAge-custom input {
									display: block;
									position: absolute;
									width: 40px; /* 50 */
									height: 15px; /* 25 */
									background: white;
									border: none;
									outline: 0;
									left: 59px;
									top: 3px;
									font: normal 16px/1.2 arial, sans-serif;
									color: #516a00;
									padding: 5px;
								}
								.surveyAge-custom strong {
									display: block;
									width: 40px;
									height: 28px;
									text-indent: -9999px;
									overflow: hidden;
									background: url(i/survey_buttons.png) no-repeat -814px 0;
									cursor: pointer;
									position: absolute;
									top: 0;
									left: 114px;
									display: none; /* overridden by javascript */
								}
										.surveyAge-custom strong:hover		{ background-position: -814px -28px; }
										.surveyAge-custom strong:active		{ background-position: -814px -56px; }


 

						/* ...........................................*/
						/* SPECIFIC PANEL: Info */
						
						.panel-info .closeInfo {
							display: block;
							position: absolute;
							text-indent: -9999px;
							overflow: hidden;
							background: url(i/survey_buttons.png) no-repeat -294px 0;
							width: 160px;
							height: 50px;
							top: 192px;
							left: 125px;
							cursor: pointer;
						}
								.panel-info .closeInfo:hover				{ background-position: -294px -50px; }
								.panel-info .closeInfo:active				{ background-position: -294px -100px; }



						/* ...........................................*/
						/* SPECIFIC PANEL: Thanks */

						.panel-thanks .allDone {
							display: block;
							position: absolute;
							width: 160px;
							height: 50px;
							background: url(i/survey_buttons.png) no-repeat -454px 0;
							text-indent: -9999px;
							overflow: hidden;
							top: 137px;
							left: 125px;
							cursor: pointer;
						}
								.panel-thanks .allDone:hover				{ background-position: -454px -50px; }
								.panel-thanks .allDone:active				{ background-position: -454px -100px; }























