body
{
   font-family: Arial;
   color: #ffff00;
   font-size: 12px;
   font-weight: bold;
   background-color: #ffd904;
   text-align: center;
}

td
{
   font-size: 12px;
   font-weight: bold;
}

#container
{
   width: 772px;
   margin: 0px auto 0px auto;
}

#nav
{
   width: 772px;
   height: 95px;
   background-image: url(pt_bg_nav.gif);
   background-repeat: no-repeat;
   margin: 0px;
   text-align: left;
}

#nav_menu
{
   position:absolute;
}

#div_btn_nav_home
{
   display: inline;
   position: relative;
   top: 4px;
   left: 1px;
}

#div_btn_nav_friends
{
   display: inline;
   position: relative;
   top: -79px;
   left: 10px;
}

#div_btn_nav_games
{
   display: inline;
   position: relative;
   top: -81px;
   left: 20px;
}

#div_btn_nav_music
{
   display: inline;
   position: relative;
   top: -83px;
   left: 30px;
}

#div_btn_nav_video
{
   display: inline;
   position: relative;
   top: -83px;
   left: 40px;
}

#content_outer
{
   display: table;
   width: 772px;
   height: auto;
   background-image: url(pt_bg.gif);
   background-repeat: repeat-y;
   margin: 0px;
   padding: 0px;
}

#content
{
   display: table-row;
   padding: 0px;
   width: 772px;
   height: auto;
   background-image: url(pt_bg_content.gif);
   background-repeat: no-repeat;
   margin: 0px;
   text-align: left;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
   #nav
   {
      background-image: url(pt_bg_nav_mac.gif);
   }
   #content
   {
      background-image: none;
   }
}

#pt_menu
{
   vertical-align: top;
   display: table-cell;
   float: left;
   position: relative;
   clear: none;
   top: 50px;
   left: 10px;
   width: 212px;
   height: 326px;
   !height: 398px;
   background-image: url(pt_bg_menu.gif);
   background-repeat: no-repeat;
   z-index: 100;
   padding: 0px;
   padding-top: 105px;
   margin: 0px;
}

#pt_menu_frontpage
{
   vertical-align: top;
   display: table-cell;
   float: left;
   position: relative;
   clear: none;
   top: 50px;
   left: 10px;
   width: 162px;
   height: 326px;
   !height: 398px;
   background-image: url(pt_bg_menu.gif);
   background-repeat: no-repeat;
   z-index: 100;
   padding: 0px;
   padding-top: 105px;
   margin: 0px;
}

.pt_menu_btn
{
   position: relative;
   height: 45px;
   left: 27px;
}

#content_inner
{
   background-color: Transparent;
   background-image: none;
   vertical-align: top;
   display: table-cell;
   clear: none;
   position: relative;
   width: 500px;
   !height: 440px;
   padding-left: 0px;
   padding-right: 50px;
   !padding-right: 0px;
}
#spacer
{
}

#content_inner_frontpage
{
   display: inline;
   position: relative;
   width: 600px;
   padding-left: 15px;
}

#bottom
{
   width: 772px;
   height: 28;
   background-image: url(pt_bg_bottom.gif);
   background-repeat: no-repeat;
   margin: 0px;
   padding: 0px;
}

h1
{
   text-align: center;
   font-family: 'Arial Black';
   font-size: 24px;
   margin: 0px;
   padding: 0px;
}

h1.frontpage
{
   text-align: center;
   font-family: 'Arial Black';
   font-size: 35px;
   margin: 0px;
   padding: 0px;
}

h2
{
   font-size: 20px;
}
h2.heading
{
   text-align: center;
   margin-bottom: 0px;
   margin-top: 20px;
}

h3
{
   font-size: 14px;
}
h3.heading
{
   text-align: center;
   margin-top: 0px;
   margin-bottom: 20px;
}
h3.credits
{
   margin: 0px;
}

img.bios
{
   float: left;
   clear: none;
   margin-right: 10px;
   margin-top: 3px;
   margin-bottom: 3px;
   padding-top: 3px;
}

li.margin
{
   margin-bottom: 10px;
}

a
{
   color: #ffff00;
   text-decoration: underline;   

}

