.teaser {
	font-family: Arial, Helvetica, sans-serif, Myriad;
	font-size: 10px;
	color: #FFFFFF;
}
.teaser a {
	font-family: Arial, Helvetica, sans-serif, Myriad;
	font-size: 10px;
	color: #FFFFFF;
}

.teaser a:hover{
	color: #000000;
}

.teaser a:hover{
	color: #000000;
}
