

.gamesByTopic .dog-games a                      { background-position: 0px 0px;         }
.gamesByTopic .reading-games a                  { background-position: -60px 0px;       }
.gamesByTopic .animal-games a                   { background-position: -120px 0px;      }
.gamesByTopic .letter-games a                   { background-position: -180px 0px;      }
.gamesByTopic .number-games a                   { background-position: -240px 0px;      }
.gamesByTopic .science-games a                  { background-position: -300px 0px;      }
.gamesByTopic .dress-up-games a                 { background-position: -360px 0px;      }
.gamesByTopic .music-games a                    { background-position: -420px 0px;      }
.gamesByTopic .rhyming-games a                  { background-position: -480px 0px;      }
.gamesByTopic .counting-games a                 { background-position: -540px 0px;      }
.gamesByTopic .measurement-games a              { background-position: 0px -60px;       }
.gamesByTopic .math-games a                     { background-position: -60px -60px;     }
.gamesByTopic .literacy-games a                 { background-position: -120px -60px;    }
.gamesByTopic .spelling-games a                 { background-position: -180px -60px;    }
.gamesByTopic .physics-games a                  { background-position: -240px -60px;    }
.gamesByTopic .vocabulary-games a               { background-position: -300px -60px;    }
.gamesByTopic .health-games a                   { background-position: -360px -60px;    }
.gamesByTopic .environment-games a              { background-position: -420px -60px;    }
.gamesByTopic .matching-games a                 { background-position: -480px -60px;    }
.gamesByTopic .healthy-eating-games a           { background-position: -540px -60px;    }
.gamesByTopic .alphabet-games a                 { background-position: 0px -120px;      }
.gamesByTopic .monkey-games a                   { background-position: -60px -120px;    }
.gamesByTopic .super-hero-games a               { background-position: -120px -120px;   }
.gamesByTopic .nature-games a                   { background-position: -180px -120px;   }
.gamesByTopic .memory-games a                   { background-position: -240px -120px;   }
.gamesByTopic .word-games a                     { background-position: -300px -120px;   }
.gamesByTopic .dinosaur-games a                 { background-position: -360px -120px;   }
.gamesByTopic .puzzle-games a                   { background-position: -420px -120px;   }
.gamesByTopic .shapes-games a                   { background-position: -480px -120px;   }
.gamesByTopic .coloring-games a                 { background-position: -540px -120px;   }
.gamesByTopic .helping-out-games a              { background-position: 0px -180px;      }
.gamesByTopic .problem-solving-games a          { background-position: -60px -180px;    }
.gamesByTopic .alltopics a                      { background-position: -120px -180px;   }
.gamesByTopic .estimation-games a               { background-position: -300px -180px;   }
.gamesByTopic .spanish-games a                  { background-position: -360px -180px;   }
.gamesByTopic .exercise-games a                 { background-position: -420px -180px;   }


.dog-games .iconRibbon                          { background-position: 0px 0px;         }
.reading-games .iconRibbon                      { background-position: -60px 0px;       }
.animal-games .iconRibbon                       { background-position: -120px 0px;      }
.letter-games .iconRibbon                       { background-position: -180px 0px;      }
.number-games .iconRibbon                       { background-position: -240px 0px;      }
.science-games .iconRibbon                      { background-position: -300px 0px;      }
.dress-up-games .iconRibbon                     { background-position: -360px 0px;      }
.music-games .iconRibbon                        { background-position: -420px 0px;      }
.music .iconRibbon                              { background-position: -420px 0px;      }
.rhyming-games .iconRibbon                      { background-position: -480px 0px;      }
.counting-games .iconRibbon                     { background-position: -540px 0px;      }
.measurement-games .iconRibbon                  { background-position: 0px -60px;       }
.math-games .iconRibbon                         { background-position: -60px -60px;     }
.literacy-games .iconRibbon                     { background-position: -120px -60px;    }
.spelling-games .iconRibbon                     { background-position: -180px -60px;    }
.physics-games .iconRibbon                      { background-position: -240px -60px;    }
.vocabulary-games .iconRibbon                   { background-position: -300px -60px;    }
.health-games .iconRibbon                       { background-position: -360px -60px;    }
.environment-games .iconRibbon                  { background-position: -420px -60px;    }
.matching-games .iconRibbon                     { background-position: -480px -60px;    }
.healthy-eating-games .iconRibbon               { background-position: -540px -60px;    }
.alphabet-games .iconRibbon                     { background-position: 0px -120px;      }
.monkey-games .iconRibbon                       { background-position: -60px -120px;    }
.super-hero-games .iconRibbon                   { background-position: -120px -120px;   }
.nature-games .iconRibbon                       { background-position: -180px -120px;   }
.memory-games .iconRibbon                       { background-position: -240px -120px;   }
.word-games .iconRibbon                         { background-position: -300px -120px;   }
.dinosaur-games .iconRibbon                     { background-position: -360px -120px;   }
.puzzle-games .iconRibbon                       { background-position: -420px -120px;   }
.shapes-games .iconRibbon                       { background-position: -480px -120px;   }
.coloring-games .iconRibbon                     { background-position: -540px -120px;   }
.coloring .iconRibbon                           { background-position: -540px -120px;   }
.helping-out-games .iconRibbon                  { background-position: 0px -180px;      }
.problem-solving-games .iconRibbon              { background-position: -60px -180px;    }
.alltopics .iconRibbon                          { background-position: -180px -180px;   }
.earth-day .iconRibbon                          { background-position: -240px -180px;   }
.estimation-games .iconRibbon                   { background-position: -300px -180px;   }
.spanish-games .iconRibbon                      { background-position: -360px -180px;   }
.exercise-games .iconRibbon                     { background-position: -420px -180px;   }


.topicsList li.dog-games a span em              { background-position: 0px 0px;         }
.topicsList li.reading-games a span em          { background-position: -60px 0px;       }
.topicsList li.animal-games a span em           { background-position: -120px 0px;      }
.topicsList li.letter-games a span em           { background-position: -180px 0px;      }
.topicsList li.number-games a span em           { background-position: -240px 0px;      }
.topicsList li.science-games a span em          { background-position: -300px 0px;      }
.topicsList li.dress-up-games a span em         { background-position: -360px 0px;      }
.topicsList li.music-games a span em            { background-position: -420px 0px;      }
.topicsList li.rhyming-games a span em          { background-position: -480px 0px;      }
.topicsList li.counting-games a span em         { background-position: -540px 0px;      }
.topicsList li.measurement-games a span em      { background-position: 0px -60px;       }
.topicsList li.math-games a span em             { background-position: -60px -60px;     }
.topicsList li.literacy-games a span em         { background-position: -120px -60px;    }
.topicsList li.spelling-games a span em         { background-position: -180px -60px;    }
.topicsList li.physics-games a span em          { background-position: -240px -60px;    }
.topicsList li.vocabulary-games a span em       { background-position: -300px -60px;    }
.topicsList li.health-games a span em           { background-position: -360px -60px;    }
.topicsList li.environment-games a span em      { background-position: -420px -60px;    }
.topicsList li.matching-games a span em         { background-position: -480px -60px;    }
.topicsList li.healthy-eating-games a span em   { background-position: -540px -60px;    }
.topicsList li.alphabet-games a span em         { background-position: 0px -120px;      }
.topicsList li.monkey-games a span em           { background-position: -60px -120px;    }
.topicsList li.super-hero-games a span em       { background-position: -120px -120px;   }
.topicsList li.nature-games a span em           { background-position: -180px -120px;   }
.topicsList li.memory-games a span em           { background-position: -240px -120px;   }
.topicsList li.word-games a span em             { background-position: -300px -120px;   }
.topicsList li.dinosaur-games a span em         { background-position: -360px -120px;   }
.topicsList li.puzzle-games a span em           { background-position: -420px -120px;   }
.topicsList li.shapes-games a span em           { background-position: -480px -120px;   }
.topicsList li.coloring-games a span em         { background-position: -540px -120px;   }
.topicsList li.helping-out-games a span em      { background-position: 0px -180px;      }
.topicsList li.problem-solving-games a span em  { background-position: -60px -180px;    }
.topicsList li.alltopics a span em              { background-position: -120px -180px;   }
.topicsList li.earth-day a span em              { background-position: -240px -180px;   }
.topicsList li.estimation-games a span em       { background-position: -300px -180px;   }
.topicsList li.spanish-games a span em          { background-position: -360px -180px;   }
.topicsList li.exercise-games a span em         { background-position: -420px -180px;   }


.popular li.dog-games a                         { background-position: 0px 0px;         }
.popular li.reading-games a                     { background-position: -28px 0px;       }
.popular li.animal-games a                      { background-position: -56px 0px;       }
.popular li.letter-games a                      { background-position: -84px 0px;       }
.popular li.number-games a                      { background-position: -112px 0px;      }
.popular li.science-games a                     { background-position: -140px 0px;      }
.popular li.dress-up-games a                    { background-position: -168px 0px;      }
.popular li.music-games a                       { background-position: -196px 0px;      }
.popular li.rhyming-games a                     { background-position: -224px 0px;      }
.popular li.counting-games a                    { background-position: -252px 0px;      }
.popular li.measurement-games a                 { background-position: 0px -28px;       }
.popular li.math-games a                        { background-position: -28px -28px;     }
.popular li.literacy-games a                    { background-position: -56px -28px;     }
.popular li.spelling-games a                    { background-position: -84px -28px;     }
.popular li.physics-games a                     { background-position: -112px -28px;    }
.popular li.vocabulary-games a                  { background-position: -140px -28px;    }
.popular li.health-games a                      { background-position: -168px -28px;    }
.popular li.environment-games a                 { background-position: -196px -28px;    }
.popular li.matching-games a                    { background-position: -224px -28px;    }
.popular li.healthy-eating-games a              { background-position: -252px -28px;    }
.popular li.alphabet-games a                    { background-position: 0px -56px;       }
.popular li.monkey-games a                      { background-position: -28px -56px;     }
.popular li.super-hero-games a                  { background-position: -56px -56px;     }
.popular li.nature-games a                      { background-position: -84px -56px;     }
.popular li.memory-games a                      { background-position: -112px -56px;    }
.popular li.word-games a                        { background-position: -140px -56px;    }
.popular li.dinosaur-games a                    { background-position: -168px -56px;    }
.popular li.puzzle-games a                      { background-position: -196px -56px;    }
.popular li.shapes-games a                      { background-position: -224px -56px;    }
.popular li.coloring-games a                    { background-position: -252px -56px;    }
.popular li.helping-out-games a                 { background-position: 0px -84px;       }
.popular li.problem-solving-games a             { background-position: -28px -84px;     }
.popular li.alltopics a                         { background-position: -56px -84px;     }
.popular li.estimation-games a                  { background-position: -112px -84px;    }
.popular li.spanish-games a                     { background-position: -140px -84px;    }
.popular li.exercise-games a                    { background-position: -168px -84px;    }


.relatedTopics li.dog-games a span              { background-position: 0px 0px;         }
.relatedTopics li.reading-games a span          { background-position: -28px 0px;       }
.relatedTopics li.animal-games a span           { background-position: -56px 0px;       }
.relatedTopics li.letter-games a span           { background-position: -84px 0px;       }
.relatedTopics li.number-games a span           { background-position: -112px 0px;      }
.relatedTopics li.science-games a span          { background-position: -140px 0px;      }
.relatedTopics li.dress-up-games a span         { background-position: -168px 0px;      }
.relatedTopics li.music-games a span            { background-position: -196px 0px;      }
.relatedTopics li.rhyming-games a span          { background-position: -224px 0px;      }
.relatedTopics li.counting-games a span         { background-position: -252px 0px;      }
.relatedTopics li.measurement-games a span      { background-position: 0px -28px;       }
.relatedTopics li.math-games a span             { background-position: -28px -28px;     }
.relatedTopics li.literacy-games a span         { background-position: -56px -28px;     }
.relatedTopics li.spelling-games a span         { background-position: -84px -28px;     }
.relatedTopics li.physics-games a span          { background-position: -112px -28px;    }
.relatedTopics li.vocabulary-games a span       { background-position: -140px -28px;    }
.relatedTopics li.health-games a span           { background-position: -168px -28px;    }
.relatedTopics li.environment-games a span      { background-position: -196px -28px;    }
.relatedTopics li.matching-games a span         { background-position: -224px -28px;    }
.relatedTopics li.healthy-eating-games a span   { background-position: -252px -28px;    }
.relatedTopics li.alphabet-games a span         { background-position: 0px -56px;       }
.relatedTopics li.monkey-games a span           { background-position: -28px -56px;     }
.relatedTopics li.super-hero-games a span       { background-position: -56px -56px;     }
.relatedTopics li.nature-games a span           { background-position: -84px -56px;     }
.relatedTopics li.memory-games a span           { background-position: -112px -56px;    }
.relatedTopics li.word-games a span             { background-position: -140px -56px;    }
.relatedTopics li.dinosaur-games a span         { background-position: -168px -56px;    }
.relatedTopics li.puzzle-games a span           { background-position: -196px -56px;    }
.relatedTopics li.shapes-games a span           { background-position: -224px -56px;    }
.relatedTopics li.coloring-games a span         { background-position: -252px -56px;    }
.relatedTopics li.helping-out-games a span      { background-position: 0px -84px;       }
.relatedTopics li.problem-solving-games a span  { background-position: -28px -84px;     }
.relatedTopics li.alltopics a span              { background-position: -56px -84px;     }
.relatedTopics li.earth-day a span              { background-position: -84px -84px;     }
.relatedTopics li.estimation-games a span       { background-position: -112px -84px;    }
.relatedTopics li.spanish-games a span          { background-position: -140px -84px;    }
.relatedTopics li.exercise-games a span         { background-position: -168px -84px;    }


.gamesGrid .alltopics h1                        { background-position: 0 -42px; }
.gamesGrid .dog-games h1                        { background-position: 0 -84px; }
.gamesGrid .reading-games h1                    { background-position: 0 -126px; }
.gamesGrid .animal-games h1                     { background-position: 0 -168px; }
.gamesGrid .letter-games h1                     { background-position: 0 -210px; }
.gamesGrid .number-games h1                     { background-position: 0 -252px; }
.gamesGrid .science-games h1                    { background-position: 0 -294px; }
.gamesGrid .dress-up-games h1                   { background-position: 0 -336px; }
.gamesGrid .music-games h1                      { background-position: 0 -378px; }
.gamesGrid .rhyming-games h1                    { background-position: 0 -420px; }
.gamesGrid .counting-games h1                   { background-position: 0 -462px; }
.gamesGrid .measurement-games h1                { background-position: 0 -504px; }
.gamesGrid .math-games h1                       { background-position: 0 -546px; }
.gamesGrid .literacy-games h1                   { background-position: 0 -588px; }
.gamesGrid .spelling-games h1                   { background-position: 0 -630px; }
.gamesGrid .physics-games h1                    { background-position: 0 -672px; }
.gamesGrid .vocabulary-games h1                 { background-position: 0 -714px; }
.gamesGrid .health-games h1                     { background-position: 0 -756px; }
.gamesGrid .environment-games h1                { background-position: 0 -798px; }
.gamesGrid .matching-games h1                   { background-position: 0 -840px; }
.gamesGrid .healthy-eating-games h1             { background-position: 0 -882px; }
.gamesGrid .alphabet-games h1                   { background-position: 0 -924px; }
.gamesGrid .monkey-games h1                     { background-position: 0 -966px; }
.gamesGrid .super-hero-games h1                 { background-position: 0 -1008px; }
.gamesGrid .nature-games h1                     { background-position: 0 -1050px; }
.gamesGrid .memory-games h1                     { background-position: 0 -1092px; }
.gamesGrid .word-games h1                       { background-position: 0 -1134px; }
.gamesGrid .dinosaur-games h1                   { background-position: 0 -1176px; }
.gamesGrid .puzzle-games h1                     { background-position: 0 -1218px; }
.gamesGrid .shapes-games h1                     { background-position: 0 -1260px; }
.gamesGrid .coloring-games h1                   { background-position: 0 -1302px; }
.gamesGrid .helping-out-games h1                { background-position: 0 -1344px; }
.gamesGrid .problem-solving-games h1            { background-position: 0 -1386px; }
.gamesGrid .earth-day h1                        { background-position: 0 -1428px; }
.gamesGrid .estimation-games h1                 { background-position: 0 -1470px; }
.gamesGrid .coloring h1                         { background-position: 0 -1512px; }
.gamesGrid .music h1                            { background-position: 0 -1554px; }
.gamesGrid .spanish-games h1                    { background-position: 0 -1596px; }
.gamesGrid .exercise-games h1                   { background-position: 0 -1638px; }


